

*{
    box-sizing: border-box;

 }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }


    .container {
       margin-top: 70px;
      
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
       
    
    }

    .post {
        width: 100%;
        max-width: 470px;
        padding: 10px;
        
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .username img {
        width: 38px;
        margin-right: 7px;
        height: 38px;
      }
    .postImg {
        max-width: 100%;
height: auto;
display: block;

margin: auto;
    }

        .comment {
            display: flex;
        flex-direction: column;
        width: 100%;
        max-width:470px ;
       margin-top: 6px;
       
        }

    .comment form input {
        width: 100%;

flex: 4;
margin-bottom: 20px;
height: 45px;
border-radius: 8px 0 0 8px;
border: none;
padding: 0 15px;
outline: none;

background-color: #fff;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

form {
height: 53px;
display: flex;
}
    .comment form input[type=submit] {
background-color: #0866ff;
color: #fff;

font-weight: bold;
border-radius: 0px 8px 8px 0;

margin-bottom: 5px;
flex: 1;
cursor: pointer;

} 
input[type=submit]:hover {
opacity: 0.7;

}

.comments {

width: 100%;

max-width: 470px;
padding: 10px 7px;
border-radius: 8px;
background-color: #fff;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.commentContainer {
display: flex;
width: 100%;
max-width: 450px;
flex-direction: column;
        padding: 5px 0;
       
        
        border-radius: 8px;
      
      
}
.commentinfo {
display: flex;
        flex-direction: column;
        background-color:#f6f6f6;
        background-color: #e5ecf7;
        padding: 8px 12px;
      
        border-radius: 18px;
        
}


.commentContainer img {
width: 38px;
        margin-right: 7px;
        height: 38px;
}

img.verified {

        margin:0 3px;
        height: 14px;
        width: 14px;
       user-select: none;
     
       -webkit-user-drag: none;
        
    }


.commentDiv {

display: flex;

}

.date {
color: rgb(101, 103, 107);
font-size: 12px;
}
.reply {
color: #65676b;
font-size: 12px;
margin-left: 10px;
cursor: pointer;
font-weight: bold;
}
.reply:hover {
text-decoration: underline;
}
.deletebtn {
width:100%;
max-width: 400px;

}

.deletebtn div{
background-color: red;
color: white;

float: right;
height: fit-content;
padding: 5px 7px;
cursor: pointer;
font-size: 12px;
border-radius: 8px;
margin-right: 0;
margin-left: auto;

}
.deletebtn div:hover {
opacity: 0.5;
}


.username {
        display: flex;
        align-items: center;
}
.usertop {
        display: flex;
       align-items: center;
      }

     
    .usertop .verified {
        margin:0 3px;
        height: 14px;
        width: 14px;
       user-select: none;
     
       -webkit-user-drag: none;
        
    }

    .userdiv span {
        font-size: 12px;
        color: rgb(101, 103, 107);
    }
    .userdiv {
        display: flex;
        flex-direction: column;
    }